<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.FjbMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Fjb" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="fjid" property="fjid" jdbcType="VARCHAR" />
    <result column="xmid" property="xmid" jdbcType="VARCHAR" />
    <result column="fjmc" property="fjmc" jdbcType="VARCHAR" />
    <result column="fjurl" property="fjurl" jdbcType="VARCHAR" />
    <result column="zt" property="zt" jdbcType="VARCHAR" />
  </resultMap>
</mapper>