<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.XmMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Xm">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="xmid" jdbcType="VARCHAR" property="xmid" />
    <result column="xmbh" jdbcType="VARCHAR" property="xmbh" />
    <result column="xmmc" jdbcType="VARCHAR" property="xmmc" />
    <result column="zxmmc" jdbcType="VARCHAR" property="zxmmc" />
    <result column="sflx" jdbcType="VARCHAR" property="sflx" />
    <result column="xmlx" jdbcType="VARCHAR" property="xmlx" />
    <result column="xmgq" jdbcType="VARCHAR" property="xmgq" />
    <result column="zjly" jdbcType="VARCHAR" property="zjly" />
    <result column="ysje" jdbcType="VARCHAR" property="ysje" />
    <result column="xmfzr" jdbcType="VARCHAR" property="xmfzr" />
    <result column="xmnrgy" jdbcType="VARCHAR" property="xmnrgy" />
    <result column="ptyjjxtrj" jdbcType="VARCHAR" property="ptyjjxtrj" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="cjsj" jdbcType="VARCHAR" property="cjsj" />
    <result column="cjr" jdbcType="VARCHAR" property="cjr" />
    <result column="xgsj" jdbcType="VARCHAR" property="xgsj" />
    <result column="xgr" jdbcType="VARCHAR" property="xgr" />
  </resultMap>
</mapper>